.card-holder {
    width: 100%;
}

.saldo {
    background-color: var(--hl-color);
    color: #ffffff;
    border-radius: 12px;
    width: 250px;
    text-align: left;
    padding: 10px 15px 15px 15px;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.saldo-max {
    background-color: var(--tmp-color-2);
}

.saldo-sum {
    font-weight: bold;
    font-size: 26pt;
}